---

import { Image } from "astro:assets";
import {
   Card,
   CardDescription,
   CardHeader,
   CardTitle,
} from "@packages/ui/components/card";

import lightAgent from "../assets/light/light-agent.webp";
import darkAgent from "../assets/dark/dark-agent.webp";
const features = [
   {
      description:
         "Define tone, audience, topics, and SEO keywords for content that fits your strategy perfectly.",
      title: "Custom AI Writing Agents",
   },
   {
      description:
         "Go from briefing to draft in under two minutes with automated content tailored to your needs.",
      title: "Fast Draft Generation",
   },
   {
      description:
         "Edit, comment, and export your posts to Markdown or DOCX in a single, streamlined interface.",
      title: "Seamless Editing & Export",
   },
];
---

<section id="features" class="container mx-auto px-4 py-16 flex flex-col items-center justify-center space-y-8 text-center">
  <div class="flex flex-col justify-center items-center space-y-4">
    <h2 class="text-foreground text-4xl font-bold ">
      AI-Powered Blog Creation, Personalized for You
    </h2>
    <p class="text-muted-foreground text-lg font-normal max-w-xl ">
      Build, customize, and publish standout blog content in minutes with smart automation and agent-driven workflows.
    </p>
  </div>
  <div class="relative w-full flex justify-center">
      <Image
        src={lightAgent}
        alt="hero-image light"
        class="rounded-xl shadow-xl ring-2 ring-black/10 w-full max-w-4xl  block dark:hidden"
        width={Number(lightAgent.width)}
        height={Number(lightAgent.height) }
        loading="lazy"
      />
      <Image
        src={darkAgent}
        alt="hero-image dark"
        class="rounded-xl shadow-xl ring-2 ring-black/10 w-full max-w-4xl  hidden dark:block"
        width={Number(darkAgent.width)}

        height={Number(darkAgent.height)}
        loading="lazy"
      />
    </div>
  
  <div class="grid gap-4 grid-cols-1 md:grid-cols-3 w-full ">
    {features.map(feature => (
      <Card >
        <CardHeader >
          <CardTitle >{feature.title}</CardTitle>
          <CardDescription >{feature.description}</CardDescription>
        </CardHeader>
      </Card>
    ))}
  </div>
</section>
