---
import lightHero from "../assets/light/light-hero.webp";
import darkHero from "../assets/dark/dark-hero.webp";
import { Sparkles } from "@lucide/astro";
import { Badge } from "@packages/ui/components/badge";
import { Button } from "@packages/ui/components/button";
import LogoCloud from "../sections/LogoCloud.astro";
import { Image } from "astro:assets";
---

  <section id="hero-section" class=" flex flex-col items-center justify-center container mx-auto px-4 py-16 space-y-8">
        <div class="space-y-4 flex flex-col items-center justify-center text-center  ">
            <Badge className="flex gap-2 px-4 py-2 items-center font-semibold" >
              <Sparkles  />
              Introducing Contenta Agents
            </Badge>
    <h1 class="text-4xl font-bold  sm:text-5xl text-foreground">AI Blog Posts, <span class="text-primary">Instantly

    </span></h1>
          <p class="text-xl text-muted-foreground">Automated, SEO-ready content for creators and agencies.</p>
          <div class="flex items-center justify-center gap-4">
      <Button id="cta-btn" size="lg">
        Enter on the waitlist
      </Button>
          </div>
        </div>
    <div class="relative w-full flex justify-center">
      <Image
        src={lightHero}
        alt="hero-image light"
        class="rounded-xl shadow-xl ring-2 ring-black/10 block dark:hidden"
        width={Number(lightHero.width)}
        height={Number(lightHero.height)}
        loading="lazy"
      />
      <Image
        src={darkHero}
        alt="hero-image dark"
        class="rounded-xl shadow-xl ring-2 ring-black/10 hidden dark:block"
        width={Number(darkHero.width)}
        height={Number(darkHero.height)}
        loading="lazy"
      />
    </div>
    <LogoCloud />
  </section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const button = document.getElementById('cta-btn');
    if (button) {
      button.addEventListener('click', function (e) {
        const target = document.getElementById('cta-section');
        if (target) {
          e.preventDefault();
          target.scrollIntoView({ behavior: 'smooth' });
        }
      });
    }
  });
</script>
