---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { marked } from "marked";

const { post } = Astro.props;
// Remove the first markdown heading (title) from the body
const cleanedBody = post.body
   ? post.body.replace(/^# .+\n?/, "").replace(/^\s+/, "")
   : "";
const htmlBody = cleanedBody ? marked.parse(cleanedBody) : "";
---

<BaseHead
  title={post.meta?.title ?? ""}
  description={post.body?.slice(0, 160) ?? ""}
  image={post.imageUrl}
  keywords={post.meta?.tags}
/>

<Navbar />
<main class="container mx-auto p-4 max-w-4xl">
  <article>
    {post.imageUrl && (
      <div class="mb-8">
        <Image
          src={post.imageUrl}
          alt={post.meta?.title ?? ""}
          width={1020}
          height={510}
          class={"rounded-lg aspect-video object-cover"}
          format="webp"
          loading="lazy"
        />
      </div>
    )}

    <div class="flex flex-col items-center gap-4">
      <header class="text-center flex flex-col items-center gap-4">
        <div class="text-sm text-muted-foreground flex flex-col items-center gap-4">
          <FormattedDate date={new Date(post.createdAt) } />
        </div>
        <h1 class="text-4xl font-bold text-foreground">
          {post.meta?.title ?? ""}
        </h1>
        {post.stats?.readTimeMinutes && (
          <div class="text-sm text-start text-muted-foreground">
            <span>Read time: {post.stats.readTimeMinutes} min</span>
          </div>
        )}
      </header>
      <div class="prose prose-lg mx-auto">
        {htmlBody && <div set:html={htmlBody} />}
      </div>
    </div>
  </article>
</main>
<Footer />
